@tailwind base;
@tailwind components;
@tailwind utilities;

.pagination {
    display: flex;
    list-style: none;
}

.pagination > li > a, .pagination > li > span {
    background-color: #cccccc2b;
    padding: 3px 9px;
    color: #fff;
    border: 0px;
}

.pagination > li > a {
    margin-right: 5px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #32c5d2;
}

.balance {
    color: #58eda8;
    margin-right: 5px;
    font-size: 12px;
}

.transaction {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #394556;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin-top: 5px;
}
