/* ########################################### */
/*                 Global                      */
/* ########################################### */
*{
    box-sizing: border-box;
}
body {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='30' height='30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.227 0c.687 0 1.227.54 1.227 1.227s-.54 1.227-1.227 1.227S0 1.914 0 1.227.54 0 1.227 0z' fill='rgba(255,255,255,0.07)'/%3E%3C/svg%3E");
    background-color: rgba(17,24,39, 1);
}
.chat-online {
    color: #34ce57
}

.chat-offline {
    color: #e4606d
}
.authors img {
    max-width: 120px;
}
.deal__toolbar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 2rem;
}
.pay-btn {
    background: white;
    display: inline-block;
    height: fit-content;
    padding: 5px;
}
.invite {
    background: #43fdc96b;
    padding: 10px;
    text-align: center;
    margin: .5rem auto;
    width: 700px;
    max-width: 100%;
}
.deal__toolbar form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.chat {
    margin: 50px auto;
    width: 1000px;
}
.message {
    background: #363535;
    padding: 5px;
}
.message.own {
    background: #8d2424;
}
.chat-messages {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat-message-left,
.chat-message-right {
    display: flex;
    flex-shrink: 0
}

.chat-message-left {
    margin-right: auto
}

.chat-message-right {
    flex-direction: row-reverse;
    margin-left: auto
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}

.portlet {
    margin-bottom: 15px;
}

.btn-white {
    border-color: #cccccc;
    color: #333333;
    background-color: #ffffff;
}

.portlet {
    border: 1px solid;
}

.portlet .portlet-heading {
    padding: 0 15px;
}

.portlet .portlet-heading h4 {
    padding: 1px 0;
    font-size: 16px;
}

.portlet .portlet-heading a {
    color: #fff;
}

.portlet .portlet-heading a:hover,
.portlet .portlet-heading a:active,
.portlet .portlet-heading a:focus {
    outline: none;
}

.portlet .portlet-widgets .dropdown-menu a {
    color: #333;
}

.portlet .portlet-widgets ul.dropdown-menu {
    min-width: 0;
}

.portlet .portlet-heading .portlet-title {
    float: left;
}

.portlet .portlet-heading .portlet-title h4 {
    margin: 10px 0;
}

.portlet .portlet-heading .portlet-widgets {
    float: right;
    margin: 8px 0;
}

.portlet .portlet-heading .portlet-widgets .tabbed-portlets {
    display: inline;
}

.portlet .portlet-heading .portlet-widgets .divider {
    margin: 0 5px;
}

.portlet .portlet-body {
    padding: 15px;
    background: #fff;
}

.portlet .portlet-footer {
    padding: 10px 15px;
    background: #e0e7e8;
}

.portlet .portlet-footer ul {
    margin: 0;
}

.portlet-green,
.portlet-green>.portlet-heading {
    border-color: #16a085;
}

.portlet-green>.portlet-heading {
    color: #fff;
    background-color: #16a085;
}

.portlet-orange,
.portlet-orange>.portlet-heading {
    border-color: #f39c12;
}

.portlet-orange>.portlet-heading {
    color: #fff;
    background-color: #f39c12;
}

.portlet-blue,
.portlet-blue>.portlet-heading {
    border-color: #2980b9;
}

.portlet-blue>.portlet-heading {
    color: #fff;
    background-color: #2980b9;
}

.portlet-red,
.portlet-red>.portlet-heading {
    border-color: #e74c3c;
}

.portlet-red>.portlet-heading {
    color: #fff;
    background-color: #e74c3c;
}

.portlet-purple,
.portlet-purple>.portlet-heading {
    border-color: #8e44ad;
}

.portlet-purple>.portlet-heading {
    color: #fff;
    background-color: #8e44ad;
}

.portlet-default,
.portlet-dark-blue,
.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
    border-color: #34495e;
}

.portlet-default>.portlet-heading,
.portlet-dark-blue>.portlet-heading {
    color: #fff;
    background-color: #34495e;
}

.portlet-basic,
.portlet-basic>.portlet-heading {
    border-color: #333;
}

.portlet-basic>.portlet-heading {
    border-bottom: 1px solid #333;
    color: #333;
    background-color: #fff;
}

@media(min-width:768px) {
    .portlet {
        margin-bottom: 30px;
    }
}
#support-toggler {
    transform: rotate(180deg);
    transition: .3s ease-in;
    cursor: pointer;
}
#support-toggler.active {
    transform: rotate(0deg);
}
#support.active {
    bottom: 30px;
}

.media-heading {
    display: flex;
    gap: 10px;
}

.own .media-heading {
    flex-direction: row-reverse;
    margin-right: 50px;
}

.portlet {
    display: flex;
    transition: .3s ease-in;
    flex-direction: column;
    width: 400px;
    max-width: 90vw;
    position: fixed;
    bottom: -408px;
    right: 30px;
    color: black;
    z-index: 10;
}

.portlet-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.portlet textarea {
    width: 100%;
    resize: none;
}

#chat {
    display: flex;
    flex-direction: column;
}

.img-chat{
    width:40px;
    height:40px;
}

.text-green {
    color: #16a085;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}

.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
.brand {
    width: 300px;
    display: flex;
}
.brand img {
    max-width: 100%;
}
html{
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    background-color:rgb(0,0,0);
    color:#FEFEFE;
}
.ads {
    display: flex;
    flex-wrap: wrap;
}
.ad {
    height: 100px;
    width: 25%;
}
.username small {
    font-size: 12px;
    color: #d5d5d5;
}
.product img {
    max-width: 100%;
}
.product {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.product .caption {
    margin-top: 15px;
}

.product .caption h6 {
    color: #455a64;
}

.product .caption .price + .price {
    margin-left: 15px;
}

.product.tumbnail {
    box-shadow: 0 5px 25px 0 transparent;
    transition: 0.3s linear;
    padding-top: 0;
}

.product.tumbnail img:hover {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.2);
}

.single-product span {
    display: inline-block;
}

.single-product .rating .fa-star, .single-product .rating .fa-star-o {
    font-size: 16px;
    color: #f7d4a0;
    margin-left: 2px;
}

.single-product .rating + * {
    margin-left: 15px;
}

.single-product h1.h1-variant-2 {
    margin-bottom: 20px;
}

.single-product .caption:before {
    content: '';
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.single-product .caption span {
    display: inline-block;
    vertical-align: middle;
}

.single-product .caption .price {
    font-weight: 400;
}

.single-product .caption .price.sale {
    color: #e75854;
    font-size: 33px;
}

.single-product .caption * + .price {
    margin-left: 10.8%;
}

@media (max-width: 1199px) {
    .single-product .caption * + .price {
        margin-left: 7.8%;
    }
}

.single-product .caption * + .quantity {
    margin-left: 26px;
}

.single-product .caption .info-list {
    border-bottom: 1px solid #f3f3ed;
    border-top: 1px solid #f3f3ed;
    font-family: Montserrat, sans-serif;
    padding-top: 26px;
    padding-bottom: 26px;
    text-align: left;
}

.single-product .caption .info-list dt, .single-product .caption .info-list dd {
    display: inline-block;
    line-height: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.single-product .caption .info-list dt {
    letter-spacing: 0.08em;
    font-size: 12px;
    color: #a7b0b4;
    width: 35%;
    text-transform: uppercase;
}

.single-product .caption .info-list dd {
    font-size: 15px;
    color: #565452;
    width: 62.5%;
}

.single-product .caption .share span.small {
    margin-top: 9px;
}

@media (max-width: 991px) {
    .single-product .caption .share span.small {
        display: block;
        margin-bottom: 15px;
    }
}

@media (max-width: 767px) {
    .single-product .table-mobile tr {
        padding-top: 0;
    }
    .single-product .table-mobile tr:before {
        display: none;
    }
}

.price {
    display: inline-block;
    font-size: 15px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: #2b2f3e;
}

.price.sale {
    color: #e75854;
}

.price del {
    color: #b0bec5;
}

.quantity {
    text-align: center;
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    background: #eceff1;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 82px;
    height: auto;
    display: inline-block;
}

.quantity span {
    display: inline-block;
}

.quantity .num {
    width: 26px;
}

.menu {
    margin-left: 30px;
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.navbar {
    justify-content: space-between;
}
.balance {
    color: #58eda8;
    margin-right: 5px;
    font-size: 12px;
}
.pagination {
    display: flex;
    list-style: none;
}

.pagination > li > a, .pagination > li > span {
    background-color: #cccccc2b;
    padding: 3px 9px;
    color: #fff;
    border: 0px;
}

.pagination > li > a {
    margin-right: 5px;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #32c5d2;
}

.quantity [class*='fa-'] {
    padding-top: 4px;
    width: 22px;
    padding-bottom: 4px;
    color: #b0bec5;
    cursor: pointer;
}

.quantity [class*='fa-']:hover {
    color: #455a64;
}
.row {
    row-gap: 20px;
}
.product__title a {
    color: white;
    font-size: 18px;
    font-family: Arial, sans-serif;
}
.product__title {
    margin: 15px 0;
}
a{
    color:#FF0042;
    font-weight: bolder;
    text-decoration: none;
}

.answer {
    background: #0c0d0e;
    padding: 10px;
    margin-bottom: 10px;
}

.answer__header {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #f56767;
}

.answer__header i {
    color: white;
    font-size: 10px;
}

h1{
    font-size:16px;
    font-weight: bolder;
}


/* ########################################### */
/*           Forums.html                       */
/* ########################################### */
.container{
    margin: 20px;
    padding: 20px;
}

.subforum{
    margin-top:20px;
}

.subforum-title{
    background-color:#292B2E;
    padding: 5px;
    border-radius: 5px;
    margin:4px;
}

.subforum-row{
    display: grid;
    grid-template-columns: 7% 60% 13% 20%;
}

.subforum-column{
    padding: 10px;
    margin:4px;
    border-radius: 5px;
    background-color:#111314;
}

.subforum-description *{
    margin-block: 0;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.subforum-icon i{
    font-size: 45px;
}

.subforum-devider{
    display: none;
}


/* For the smartphones */
@media screen and (max-width: 460px) {
    .container{
        margin: 10px;
        padding: 10px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 25% 75%;
        grid-template-rows: 65% 35%;
    }

    .subforum-devider{
        display: block;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(190, 190, 190, 0), rgba(255, 255, 255, 0.75), rgba(190, 190, 190, 0));
    }



}

/* For the tablets */
@media screen and (min-width: 460px) and (max-width: 1024px) {
    .container{
        margin: 15px;
        padding: 15px;
    }

    .subforum-row{
        display: grid;
        grid-template-columns: 10% 60% 10% 20%;
    }

    .subforum-icon i{
        font-size: 35px;
    }

    html{
        font-size: 14px;
    }

    h1{
        font-size: 16px;
    }

}
/*   Header Section    */

header{
    margin-inline: 10px;
}
/* Nav Bar styles */
.navbar{
    display:flex;
    align-items: center;
}
.navigation{
    background-color:#52057b;
    padding: 10px;
    width: 65%;
    display: inline-block;
    border-radius: 5px;
    max-height: 80px;
    margin-right:10px;
}

.close-icon i{
    font-size:60px;
    float: left;
    cursor: pointer;
}

.nav-list{
    list-style-type:none;
    overflow: hidden;
}

.nav-item a{
    float: right;
    display:block;
    text-align: center;
    margin-inline: 20px;
    font-size: 20px;
    padding: 10px;
    color:#fff;
}

.nav-item a:hover{
    background-color: rgb(0,0,0,0.1);
}

.hide{
    display: none;
}

.bar-icon{
    font-size: 60px;
    display: inline-block;
    margin-right:10px;
    color: #fff;
    cursor: pointer;
}

@font-face {
    font-family:aquire;
    src:url(aquire.otf);
}

.brand{
    font-size:60px;
    display: inline-block;
    font-family:aquire;
}

/*Navbar for the smartphones*/
@media screen and (max-width: 460px){
    .navigation{
        max-height: auto;
    }

    .close-icon i{
        font-size:30px;
    }

    .nav-item a{
        float:left;
        display:inline;
        margin-inline: 3px;
        font-size: 10px;
        padding: 5px;
    }


    .bar-icon{
        font-size: 30px;
    }

    .brand{
        font-size:20px;
    }
}

/* Search Box styles */
.search-box{
    border: solid 1px #52057b;
    margin-top: 20px;
    padding: 40px;
    display:flex;
    justify-content: center;
    box-shadow:1px 2px 3px #52057b;
}

.search-box select{
    padding: 10px;
}

.search-box input{
    padding: 10px;
}

.search-box button{
    padding: 10px;
    background-color:#fff;
    color:#000000;
}

.search-box button:hover{
    background-color: #000000;
    color: #fff;
    box-shadow: 1px 2px 3px #fff;
}

/* search box for smrtphones */
@media screen and (max-width: 460px){
    .search-box input, .search-box button, .search-box select{
        min-width: 300px;
        margin-top: 5px;
    }

}

/* forum info Styling */
.forum-info{
    padding: 20px;
    background-color: #111314;
}

.chart{
    font-size:20px;
    font-weight:bold;
}
/* Footer Styling */

footer{
    margin-top: 20px;
    padding: 20px;
    background-color:  #52057b;
    display: block;
    text-align: center;
}

/* ########################################### */
/*            posts.html                       */
/* ########################################### */

/* posts table's head  */
.table-head{
    display: flex;
}

.table-head div{
    padding: 5px;
    margin: 2px;
    background-color: #2C2C2C;
    font-weight: bold;
}

.table-head .status{
    flex: 5%;
}

.table-head .subjects{
    flex: 70%;
}

.table-head .replies{
    flex: 10%;
}

.table-head .last-reply{
    flex: 15%;
}

/* posts table's body  */

.table-row{
    display: flex;
}

.table-row .status, .table-row .subjects, .table-row .replies, .table-row .last-reply{
    padding: 5px;
    margin: 2px;
    background-color: #131415;
}

.table-row .status{
    flex: 5%;
    font-size: 30px;
    text-align: center;
}

.table-row .subjects{
    flex: 70%;
}

.table-row .replies{
    flex: 10%;
}

.table-row .last-reply{
    flex: 15%;
}

/* navigation path*/
.navigate{
    margin-block: 20px;
    font-weight: lighter;
    font-size: 24px;
}

.navigate a{
    color: #fff;
}

.navigate a:hover{
    color:#FF0042;
    font-weight: bolder;
}

/* Pagination*/

.pagination{
    padding: 20px;
    font-size: 15px;
}

.pagination a{
    color: #fff;
    margin-inline: 5px;
    padding: 5px 10px;
    border: solid 0.5px #fff;
}

.pagination a:hover{
    opacity: 0.5;
}

.note{
    background-color:#111314;
    padding: 20px;
    display: block;
}

.note span{
    font-size: 20px;
    margin-block: 5px;
}


/* ########################################### */
/*            detail.html                      */
/* ########################################### */

.head{
    display: flex;
    background-color: #2C2C2C;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
}

.authors{
    flex: 20%;
}

.content{
    flex: 80%;
}

.body{
    display: flex;
    background-color: #131415;
    padding: 10px;
    margin-top: 5px;
}

.body .authors .username{
    font-size: 20px;
}

.body .authors img{
    max-width: 50px;
    max-height: 80px;
}

.body .content .comment button{
    border:none;
    padding:10px;
    font-weight: bolder;
    box-shadow: 4px 6px #fff;
    cursor: pointer;
    float: right;
}

/* comment section */
.comment-area{
    margin-bottom:50px;
}

.comment-area textarea{
    width: 100%;
    min-height: 100px;
    padding: 10px;
    margin-block: 10px;
}

.comment-area input{
    float: right;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.comment-area input:hover{
    border: solid 1px #000000;
}








